[user]
	email = dclin02@gmail.com
	name = Daniel Lin
[url "git@github.com:OlaIsaac"]
	insteadOf = https://github.com/OlaIsaac

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[rebase]
	updateRefs = true
[url "git@github.com:"]
	insteadOf = https://github.com/
